.footer{
    background-color: #3e3c3c;

}

.footer_container {
    margin: 0px 320px 0px 320px;
    padding: 15px;

    .footer_logo {
        font-family: $shrikhand;
        font-size: 20px;
        color: white;
        margin: 0;
        padding-bottom: 10px;
    }
}

.footer_list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.suggest {
    margin-bottom: 8px;

    .suggest_list {
        font-family: $roboto;
        color: white;
        text-decoration: none;
    
        .suggest_icon {
            padding-right: 17px;
        }
    }
}

.partner {
    margin-bottom: 8px;

    .partner_link {
        font-family: $roboto;
        color: white;
        text-decoration: none;
    
        .partner_icon {
            padding-right: 10px;
        }
    }
}

.legal_notice {
    margin-bottom: 8px;

    .legal_notice_link {
        font-family: $roboto;
        color: white;
        text-decoration: none;
    }
}

.contact {
    margin-bottom: 8px;

    .contact_link {
        font-family: $roboto;
        color: white;
        text-decoration: none;
    }
}
