/*Desktop*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 2px;
    box-shadow: 0 0 6px#b1a9a9;

    .header_logo {
        margin: 0;
        text-align: center;
        font-family: $shrikhand;
        font-size: 40px;
    }

    .back_arrow {
        display: flex;
        align-items: center;
        position: relative;
        left: -560px;
        color: black;
        font-size: 24px;
    }

    .back_link {
        text-decoration: none;
    }
}
/*Desktop*/

/*Tablette*/
@media screen and (max-width: 768px)
{
    .back_arrow {
        left: -200px;
    }
}
/*Tablette*/

/*Mobile*/
@media screen and (max-width: 425px)
{
    .back_arrow {
        left: -60px;
    }
}
/*Mobile*/
