@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
}

/*intro button home page*/
.intro_btn {
  background-color: chartreuse;
  padding: 12px;
  border-radius: 25px;
  text-decoration: none;
}

/*intro button*/
/*heart button*/
.heart_btn {
  border: none;
  font-size: 30px;
}

.heart_anim {
  font-size: 30px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px black;
  opacity: 1;
  color: transparent;
}

.heart_anim:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-stroke: 0px black;
  transition: all 4s ease-in-out;
}

/*heart button*/
/*command button restaurant page*/
.command_btn {
  background-color: chartreuse;
  padding: 14px;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

/*command button restaurant page*/
/*confirmation button restaurant page*/
.menu_item_confirmation {
  background-color: #99E2D0;
  width: 70px;
  height: 70px;
  margin-right: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.scroll_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.confirmation_icon {
  color: #99E2D0;
}

.contained_submenu:hover .scroll_icon {
  transform: rotate(0);
}

/*confirmation button restaurant page*/
/*Desktop*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}
.header .header_logo {
  margin: 0;
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 40px;
}
.header .back_arrow {
  display: flex;
  align-items: center;
  position: relative;
  left: -560px;
  color: black;
  font-size: 24px;
}
.header .back_link {
  text-decoration: none;
}

/*Desktop*/
/*Tablette*/
@media screen and (max-width: 768px) {
  .back_arrow {
    left: -200px;
  }
}
/*Tablette*/
/*Mobile*/
@media screen and (max-width: 425px) {
  .back_arrow {
    left: -60px;
  }
}
/*Mobile*/
/*Desktop*/
.footer {
  background-color: #3e3c3c;
}

.footer_container {
  margin: 0px 180px 0px 180px;
  padding: 15px;
}
.footer_container .footer_logo {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  color: white;
  margin: 0;
  padding-bottom: 10px;
}

.footer_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggest {
  margin-bottom: 8px;
}
.suggest .suggest_list {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}
.suggest .suggest_list .footer_icon {
  padding-right: 17px;
}

.partner {
  margin-bottom: 8px;
}
.partner .partner_link {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}
.partner .partner_link .footer_icon {
  padding-right: 10px;
}

.legal_notice {
  margin-bottom: 8px;
}
.legal_notice .legal_notice_link {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

.contact {
  margin-bottom: 8px;
}
.contact .contact_link {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

/*Desktop*/
/*Tablette*/
@media screen and (max-width: 768px) {
  .footer_container {
    margin: 0px 0px 0px 30px;
  }
}
/*Tablette*/
/*Mobile*/
@media screen and (max-width: 425px) {
  .footer_container {
    margin: 0px 0px 0px 10px;
  }
}
/*Mobile*/
/*location*/
.location {
  background-color: #ececec;
}

.text_location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_location p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.text_location i {
  padding: 10px;
  font-size: 20px;
}

/*location*/
/*intro*/
.intro {
  background-color: #f7f7f7;
  padding: 15px;
  height: 130px;
  text-align: center;
}

.intro_title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin: 0;
}

.intro_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.intro_btn {
  background-color: chartreuse;
  padding: 12px;
  border-radius: 25px;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

/*intro*/
/*functioning*/
.functioning {
  margin: 0px 320px 0px 320px;
}

.functioning_title {
  font-family: "Roboto", sans-serif;
}

.steps {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.number_step {
  background-color: #9356DC;
  color: white;
  border-radius: 25px;
  padding: 4px 8px 4px 8px;
  margin: 0px 12px 0px -30px;
}

.step {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 0px 15px 0px 20px;
  border-radius: 15px;
}
.step .step_icon {
  margin-right: 12px;
  color: #7e7e7e;
}
.step .step_text {
  font-family: "Roboto", sans-serif;
}

/*functioning*/
/*second container*/
.second_container {
  background-color: #f3f3f3;
  height: 800px;
}

.second_container_title {
  font-family: "Roboto", sans-serif;
  padding: 30px 0px 0px 320px;
}

.restaurants_list {
  display: grid;
  grid-gap: 30px;
  grid-row: 2;
  margin: 0px 180px 0px 180px;
}

.card_one {
  grid-row: 1;
}

.card_two {
  grid-row: 1;
}

.card {
  width: 100%;
  height: 320px;
  text-decoration: none;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  position: relative;
}
.card .image_card {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.badge {
  background-color: #99E2D0;
  color: #1b6150;
  font-family: "Roboto", sans-serif;
  padding: 8px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.card_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 16px;
}
.card_info .card_text {
  color: black;
}
.card_info .card_title {
  font-family: "Roboto", sans-serif;
  margin: 0px 0px 8px 0px;
}
.card_info .card_location {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*second container*/
/*top image*/
.image_menu {
  max-width: 100%;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/*top image*/
/*menu box */
.menu_container {
  border: 1px solid black;
  background-color: #f3f3f3;
  border: none;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  margin: auto;
  position: relative;
  margin-top: -60px;
}

/*menu title*/
.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 0px 16px;
  font-family: "Shrikhand", cursive;
}

/*menu title*/
.sub_menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.submenu_title {
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 14px;
}

.contained_submenu {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  overflow: hidden;
}

.submenu_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu_item {
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_item .menu_item_title {
  margin: 0;
  padding-bottom: 6px;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_item .menu_item_description {
  margin: 0;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu_item_price {
  font-weight: 600;
  padding-right: 12px;
}

.contained_submenu:hover .menu_item_confirmation {
  margin-right: 0px;
}

/*bottom button*/
.bottom_btn {
  display: flex;
  justify-content: center;
  padding: 30px;
}

/* menu box*/
/*Tablette*/
@media screen and (max-width: 768px) {
  .intro {
    padding: 16px;
    height: 220px;
  }
  .intro .intro_title {
    margin: 20px 100px 14px 100px;
    padding: 0px 100px;
  }
  .intro .intro_text {
    padding-bottom: 20px;
  }

  .functioning {
    margin: 0px 50px 0px 50px;
  }

  .steps {
    display: flex;
    flex-direction: column;
  }

  .step {
    margin-bottom: 16px;
  }
  .step .number_step {
    margin: 0px 18px 0px -30px;
  }
  .step .step_icon {
    margin-right: 20px;
  }

  .second_container {
    height: 1500px;
  }

  .second_container_title {
    padding: 30px 0px 0px 30px;
  }

  .restaurants_list {
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 30px;
  }
}
/*Tablette*/
/*Mobile*/
@media screen and (max-width: 425px) {
  .intro {
    padding: 16px;
    height: 220px;
  }
  .intro .intro_title {
    margin: 0px 20px 14px 20px;
    padding: 0px 30px;
  }
  .intro .intro_text {
    margin: 0px 20px 40px 20px;
  }

  .functioning {
    margin: 0px 20px 0px 30px;
  }

  .steps {
    display: flex;
    flex-direction: column;
  }

  .step {
    margin-bottom: 16px;
  }
  .step .number_step {
    margin: 0px 18px 0px -30px;
  }
  .step .step_icon {
    margin-right: 20px;
  }

  .second_container {
    height: 1500px;
  }

  .second_container_title {
    padding: 30px 0px 0px 20px;
  }

  .restaurants_list {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
  }
}
/*Mobile*/
/*Tablette*/
@media screen and (max-width: 768px) {
  .menu_container {
    margin: -60px 80px 0px 80px;
  }

  .menu {
    padding: 14px 20px 0px 20px;
  }

  .sub_menus {
    display: flex;
    flex-direction: column;
    padding: 0px 6px 0px 6px;
  }
}
/*Tablette*/
/*Mobile*/
@media screen and (max-width: 425px) {
  .menu_container {
    margin: -60px 0px 0px 0px;
  }
}
/*Mobile*/

/*# sourceMappingURL=style.css.map */
