/*loader*/
.loader {
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    border-left-color: #99E2D0;
    border-right-color: #99E2D0;
    border-radius: 50%;
    animation: spinner 5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(360deg) scale(1);
    }

    100% {
        transform: rotate(720deg) scale(1);
    }
}
/*loader*/

/*appearance*/
@for $i from 1 through 10 {

    .anim_delay_#{$i}{
        animation-delay: $i * .1s;
    }

}

@keyframes appearance_submenu {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/*check button*/
.submenu_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition-duration: .5s;
}

.contained_submenu:hover .submenu_text {
    width: 80%;
}

.menu_item_confirmation {
    background-color: $color-tertiary;
    width: 20%;
    height: 70px;
    margin-right: -20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.contained_submenu:hover .menu_item_confirmation {
    margin-right: 0px;
}

.scroll_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    transition-duration: .5s;
}

.confirmation_icon {
    color: $color-tertiary;
}

.contained_submenu:hover .scroll_icon {
    transform: rotate(0);
}

