/*loader*/
.loader {
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    border-left-color: #99E2D0;
    border-right-color: #99E2D0;
    border-radius: 50%;
    animation: spinner 5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(360deg) scale(1);
    }

    100% {
        transform: rotate(720deg) scale(1);
    }
}
/*loader*/

/*appearance*/
@keyframes appearance_submenu {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}