/*intro button home page*/
.intro_btn {
    background-color: chartreuse;
    padding: 12px;
    border-radius: 25px;
    text-decoration: none;
}
/*intro button*/

/*heart button*/
.heart_btn {
    border: none;
    font-size: 30px;
    
}

.heart_anim{
    font-size: 30px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px black;
    opacity: 1;
    color: transparent;
}

.heart_anim:hover {
    
    background-image: linear-gradient($color-primary, $color-secondary);
    -webkit-text-stroke: 0px black;
    transition: all 4s ease-in-out;
    
}
/*heart button*/

/*command button restaurant page*/
.command_btn {
    background-color: chartreuse;
    padding: 14px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient( 0deg, $color-primary , $color-secondary);
    color: white;
    font-family: $roboto;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
/*command button restaurant page*/

/*confirmation button restaurant page*/
.menu_item_confirmation {
    background-color: $color-tertiary;
    width: 20%;
    height: 70px;
    margin-right: -20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.scroll_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    transition-duration: .5s;
}

.confirmation_icon {
    color: $color-tertiary;
}

.contained_submenu:hover .scroll_icon {
    transform: rotate(0);
}
/*confirmation button restaurant page*/