/*location*/
.location {
    background-color: #f3f3f3;
}
.text_location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_location p {
    font-family: $roboto;
    font-size: 25px;
    font-weight: 700;
}

.text_location i {
    padding: 10px;
    font-size: 20px;
}
/*location*/

/*intro*/
.intro {
    background-color: #fafafa;
    height: 150px;
    text-align: center;
}

.intro_title {
    margin: 10px;
    padding-top: 14px;
    font-family: $roboto;
    font-size: 25px;
}

.intro_text {
    font-family: $roboto;
    font-size: 16px;
    padding-bottom: 6px;
}
.second_container img {
    width: 200px;
}