/*location*/
.location {
    background-color: #ececec;
}
.text_location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_location p {
    font-family: $roboto;
    font-size: 20px;
    font-weight: 700;
}

.text_location i {
    padding: 10px;
    font-size: 20px;
}
/*location*/

/*intro*/
.intro {
    background-color: #f7f7f7;
    padding: 15px;
    height: 130px;
    text-align: center;
}

.intro_title {
    font-family: $roboto;
    font-size: 30px;
    margin: 0;
}

.intro_text {
    font-family: $roboto;
    font-size: 16px;
    font-weight: 300;
}

.intro_btn {
    background-color: chartreuse;
    padding: 12px;
    border-radius: 25px;
    background-image: linear-gradient( 0deg, $color-primary , $color-secondary);
    color: white;
    font-family: $roboto;
    font-weight: 500;
    text-decoration: none;
}
/*intro*/

/*functioning*/
.functioning {
    margin: 0px 320px 0px 320px;

}

.functioning_title {
    font-family: $roboto;
}

.steps {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.number_step {
    background-color: $color-primary;
    color: white;
    border-radius: 25px;
    padding: 4px 8px 4px 8px;
    margin: 0px 10px 0px -30px;
}

.step_one {
    display: flex;
    align-items: center;
    background-color:#f3f3f3;
    padding: 0px 15px 0px 20px;
    border-radius: 15px;

    .step_icon {
        margin-right: 12px;
        color: #7e7e7e;
    }

    .step_text {
        font-family: $roboto;
    }
}

.step_two {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0px 15px 0px 20px;
    border-radius: 15px;

    .step_icon {
        margin-right: 12px;
        color: #7e7e7e;
    }

    .step_text {
        font-family: $roboto;
    }
}

.step_three {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0px 15px 0px 20px;
    border-radius: 15px;

    .step_icon {
        margin-right: 12px;
        color: #7e7e7e;
    }

    .step_text {
        font-family: $roboto;
    }
}
/*functioning*/

/*second container*/
.second_container {
    background-color: #f3f3f3;
    height: 800px;
}

.second_container_title {
    font-family: $roboto;
    padding: 30px 0px 0px 320px;
}

.restaurants_list {
    display: grid;
    grid-gap: 30px;
    grid-row: 2;
    margin: 0px 320px 0px 320px;
}

.card_one {
    grid-row: 1;
    width: 100%;
    height: 320px;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;

    .image_card_one {
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
    }
}

.card_two {
    grid-row: 1;
    width: 100%;
    height: 320px;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;

    .image_card_two {
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
    }
}

.card_three {
    width: 100%;
    height: 320px;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;

    .image_card_three {
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
    }
}

.card_four {
    width: 100%;
    height: 320px;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;

    .image_card_four {
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
    }
}

.badge {
    background-color: $color-tertiary;
    color: #1b6150;
    font-family: $roboto;
    padding: 8px;
    float: right;
}

.card_info {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 16px;

    .card_text {
        color: black;

        
    }
    .card_title {
        font-family: $roboto;
        margin: 0px 0px 8px 0px;
    }
    
    .card_location {
        font-family: $roboto;
        margin: 0;
    }
    
    .card_btn {
        padding-left: 130px;
        font-size: 25px;
    }
}
/*second container*/

