/*Tablette*/
@media screen and (max-width: 768px)
{
    .menu_container {
        margin: -60px 80px 0px 80px;
    }

    .menu {
        padding: 14px 20px 0px 20px;
    }

    .sub_menus {
        display: flex;
        flex-direction: column;
        padding: 0px 6px 0px 6px;
    }
}
/*Tablette*/

/*Mobile*/
@media screen and (max-width: 425px)
{
    .menu_container {
        margin: -60px 0px 0px 0px;
    }
}
/*Mobile*/
